{% extends "base.html" %}
{% block content %}
  <p><a href="/admin">Dashboard</a></p>
  <h1>Posts</h1>
  {% if can(user.role, 'post.create') %}<p><a href="/admin/posts/new">Write a new Post</a></p>{% endif %}
  {% if posts %}
  <ul>
    {% for post in posts %}
    <li>
      <a href="/admin/posts/{{ post.id }}/edit">{{ post.title }}</a>
      &middot; {{ post.status | capitalize }} &middot; {{ post.author_name }}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No Posts yet.</p>
  {% endif %}
{% endblock %}
