{% extends "base.html" %}
{% block content %}
  <p><a href="{{ route('dashboard') }}">Dashboard</a></p>
  <h1>Posts</h1>
  {% if can(user.role, 'post.create') %}<p><a href="{{ route('new_post') }}">Write a new Post</a></p>{% endif %}
  {% if posts %}
  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ route('edit_post', post_id=post.id) }}">{{ post.title }}</a>
      &middot; {{ post.status | capitalize }} &middot; {{ post.author_name }}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No Posts yet.</p>
  {% endif %}
{% endblock %}
